@model testkamna.Models.CommentsViewModel
@{
}

<div id="commentformid">
</div>


<ul class="list-group">
    @if(Model.List!=null)
    {
        @foreach(var item in Model.List)
        {
            <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                <div class="d-flex align-items-center text-sm">
                  (@item.CommentText)
                </div>
                <div class="d-flex flex-column">
                    <h6 class="mb-1 text-dark font-weight-bold text-sm">@item.CommentDate</h6>
                    <span class="text-xs">@item.CreatedBy</span>

                </div>
                </li>
        }
    }
</ul>